#root {
    height: 100vh;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 800px;
    border: solid black 1px;
    margin-right: auto;
    margin-left: auto;
}

#root > * {
    border: solid black 1px;
}

header {
    background-color: rgb(211, 211, 246);
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: rgb(252, 212, 212);
}

.startScreen {
    background-color: rgb(242, 211, 86);
}

.cardBase {
    background-color: rgb(216, 248, 216);
    height: 600px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.gameCard {
    height:100px;
    display: flex;
    flex-direction: column;

}

.pic {
    height: 70px;
    object-fit: fill;
}